<div class="app p-4 container-fluid">
  <div class="row">
    <div class="col col-md-4 offset-md-4">
      <div class="text-center">
        <button class="btn btn-light mb-2 mt-5" (click)="handleClick()">
          Find User
        </button>
        <!-- User Card Block --->
        <app-card [user]="user" *ngIf="user;"></app-card>
        <!-- ./User Card Block --->
        
        <!-- Loading Block --->
        <div *ngIf="loadingBlock">
          <div class="text-center mt-spin">
            <div class="spinner-border spinner-grow-mg text-white spinner" role="status">
              <div class="text-white" *ngIf="request != 0">
                {{requests}}
              </div>
            </div>
          </div>
        </div>
        <!-- ./Loading Block --->
      </div>
    </div>
  </div>
</div>